.pd-btn{
    width: 50%;
    padding: 0.5rem 1.5rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: -160%;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    &:hover{
        color: white;
        background-color: black;
    }
}

.pm-btn{
    padding: 0.25rem 0.5rem;
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    line-height: -160%;
    border-radius: 0.25rem;
    &:hover{
        color: white;
        background-color: black;
    }
}

